#toggle_mode {
  background: #222a;
}

body {
  background-color: #111;
  color: #c9d1d9;
}

h1 {
  color: #e7f0fa;
}

h2 {
  color: #fdffe2;
}

h2::before {
  color: #eee;
}

a {
  color: #a7f9fc;
}

a:hover {
  color: #ffa17e;
}

.bg {
  background: linear-gradient(0deg, #111, #0002),
    url(img/pexels-photo-3815729.jpeg);
  background-position-y: 0px, 0px;
}

.bio {
  color: #dddd;
}

.project-block {
  background: linear-gradient(180deg, #202020, #151515);
  box-shadow: 1px 1px 4px #0000;
}

.project-block .description {
  background-color: #111a;
  border: 1px solid #fff1;
}
